<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <a href="{% url 'tweet_analysis:detail' %}">muni_gurume</a>
    <form action="{% url 'tweet_analysis:detail' %}" method="post">
        {% csrf_token %}
        <input type="text" name="csv_name" id="csv_name">
        <input type="submit" value="tweet情報取得">
    </form>
    <div id="app"></div>
    <p>tweet 全件取得</p>
    <form action="{% url 'tweet_analysis:tweetinfo' %}" method="post">
        {% csrf_token %}
        <input type="text" name="usr_id" id="usr_id">
        <input type="submit" value="tweet情報取得">
    </form>

</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>